<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>     
<body>
    <% if (locals.user != undefined) { %>
		<%- include('partials/headerLogueado.ejs') %>
	<% } else { %>
		<%- include('partials/header.ejs') %>
	<% } %>
        <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<h2 class="col-12"> 
                <form id="registerForm" action="/users/register" method="POST">
                    <div style="margin-bottom:12px;">
                        <label for="email">Email</label><br>
                        <input type="email" id="email" name="email" placeholder="ejemplo@mail.com" required style="width:100%;">
                    </div>

                    <div style="margin-bottom:12px;">
                        <label for="usuario">Nombre de Usuario</label><br>
                        <input type="text" id="usuario" name="nombreUsuario" placeholder="Nombre de Usuario" required style="width:100%;">
                    </div>

                    <div style="margin-bottom:16px;">
                        <label for="contrasena">Contraseña</label><br>
                        <input type="password" id="contrasena" name="contrasena" placeholder="ejemplo123" required style="width:100%;">
                    </div>

                
                    <button type="submit">Registrarse</button>
                </form>
			</h2>
<%- include('partials/footer.ejs') %>

</body>
</html>