<header>
		<a href="/">
		Todos los productos
	</a>
	<a href="/product-add">
		Cargar producto
	</a>
	<a href="/users/profile">
		Nombre del Usuario
	</a>
	<a href="">
		Cerrar sesión
	</a>
	<a href="">
		Crea tu cuenta
	</a>
	<a href="">
		Ingresa
	</a>
	</header>